.TitlePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  // height: 100%;
}

.Page {
  padding: 1rem;
  position: relative;
  height: calc(100% - 2rem);
  overflow: auto;
}

.Book {
  background: #ffefcd;
  width: 90vw;
  max-width: 43rem;
  max-height: 90vh;
  margin: auto;
  color: #1f1e04;
  border-radius: .25rem;
  position: relative;
  display: grid;
  overflow: auto;
  &::before {
    content: '';
    display: block;
    padding-top: 129.4%;
    grid-area: 1 / 1 / 2 / 2;
  }
  div {
    grid-area: 1 / 1 / 2 / 2;
  }
}